@import "../colors.sass"

.header
    box-shadow: 0px 6px 12px #0052E029
    .header-container
        max-width: 1440px
        height: 70px
        display: flex
        justify-content: space-between
        align-items: center
        background: $white
    .header-logo-link
        width: 140px
    .header-logo
        width: 100%
    .nav
    .ul
        display: flex
        align-items: center
    .nav-link
        padding: 0 15px
        font-weight: 600
        color: $gray200
    .github-btn
        height: 36px
        padding: 0 12px
        border-radius: 6px
        display: flex
        align-items: center
        border: 1px solid $blue300
        color: $blue300
        font-weight: 600
        margin-left: 15px
    .header-github-logo
        padding-right: 9px
    
