@import "colors.sass"

.hero
    height: calc(100vh - 70px)
    display: flex
    justify-content: center
    align-items: center
    background-image: linear-gradient(to right top, #5d4cd5, #0077ef, #0098f8, #00b5f5, #34ceee)
    position: relative
    .content
        width: 95%
        max-width: 800px
        margin: 0 auto
        text-align: center
    .hero-logo-figure
        width: 100%
        max-width: 472px
        display: inline-block
    .hero-logo
        width: 100%
        height: auto
    .main-title
        font-size: 64px
        font-weight: 800
        margin-top: 10px
    .hero-p
        margin-top: 10px
        font-size: 22px
    .hero-btn
        display: inline-flex
        justify-content: center
        align-items: center
        font-weight: 600
        margin-top: 45px
        height: 50px
        line-height: 50px
        padding: 0 30px
        max-width: 240px
        color: $blue300
        background: $white
        border-radius: 25px
        transition: all 0.1s linear
        &:hover 
            opacity: .8
    .copy-icon
        margin-right: 8px
    .hero-scroll-btn
        width: 50px
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 50%
        bottom: 20px
        animation: bounce 2s linear infinite

.bounce
    position: absolute
    z-index: 1

.bounce-1-wrapper
    width: 200px
    height: 155px
    top: 160px
    left: -50px
    animation: scale 3s linear infinite

.bounce-2
    top: 70px
    left: 260px
    animation: scale 3.5s linear infinite
.bounce-3
    left: 20%
    bottom: 50px
    animation: scale 4s linear infinite
.bounce-4
    bottom: 116px
    right: 280px
    animation: scale 4.4s linear infinite
.bounce-5-wrapper
    top: 33px
    right: -60px

.bounce-5
    top: -11px
    right: -10px
    z-index: 2
    width: 180px
    animation: scale 4.8s linear infinite
.bounce-6
    top: 0
    right: 0
    animation: scale 4s linear infinite




@keyframes bounce
    0%
        transform: translate(-50%, 0)
    50%
        transform: translate(-50%, 20px)
    100%
        transform: translate(-50%, 0)

@keyframes scale
    0%
        transform: scale(1)
    50%
        transform: scale(1.3)
    100%
        transform: scale(1)
        

@media only screen and ( max-width: 800px )
    .hero
        .hero-logo
            max-width: 235px
        .main-title
            font-size: 32px
        .hero-p
            font-size: 20px

    