@import "colors.sass"

.hero
    height: calc(100vh - 70px)
    display: flex
    justify-content: center
    align-items: center
    background-image: linear-gradient(to right top, #5d4cd5, #0077ef, #0098f8, #00b5f5, #34ceee)
    .content
        width: 100%
        max-width: 800px
        margin: 0 auto
        text-align: center
    .hero-logo-figure
        width: 100%
        max-width: 472px
        display: inline-block
    .hero-logo
        width: 100%
        height: auto
    .main-title
        font-size: 64px
        font-weight: 800
        margin-top: 10px
    .hero-p
        margin-top: 10px
        font-size: 22px
    .hero-btn
        display: inline-flex
        justify-content: center
        align-items: center
        font-weight: 600
        margin-top: 45px
        height: 50px
        line-height: 50px
        padding: 0 30px
        max-width: 240px
        color: $blue300
        background: $white
        border-radius: 25px
    .copy-icon
        margin-right: 8px