@import "colors.sass"

.news
    padding: 60px 0 160px 0
    .title-wrapper
        position: relative
        width: 100%
        max-width: 400px
        text-align: center
        margin: 0 auto 30px auto
    .section-title
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        background: $white
        text-align: center
        padding: 0 15px
    .blue-line
        width: 100%
        max-width: 300px
        height: 8px
    .news-container
        display: flex
        justify-content: center
        flex-wrap: wrap
        max-width: 1100px
        margin: 0 auto
        position: relative
    .news-card
        width: 30%
        flex-grow: 1
        margin: 15px
        box-shadow: 0px 3px 6px #3472DE14
        border: 1px solid #F5F5F5
        max-width: 335px
        padding: 20px
        border-radius: 10px
        display: none
        flex-direction: column
        display: flex
        &.show 
    .news-date
        color: $gray200
        margin: 32px 0 37px 0
    .btn
        font-weight: 500
        width: 100%
        max-width: 150px
        padding: 0 10px
        height: 40px
        display: inline-flex
        justify-content: center
        align-items: center
        border-radius: 7px
        transition: all 0.1s linear
    .read-more-btn
        align-self: center
        border: 2px solid $blue300
        color: $blue300
        margin-top: auto
        .white-arrow
            display: none
        &:hover 
            color: $white
            background: $blue300
            border-color: $blue300
            .white-arrow
                display: block
            .blue-arrow
                display: none    
        img 
            padding-left: 8px
            max-width: 20px
        
    .load-more-btn
        background: $blue300
        color: $white
        position: absolute
        bottom: -100px
        border: 2px solid transparent
        font-weight: 600
        &:hover 
            background: $white
            color: $blue300
            border-color: $blue300

@media only screen and ( max-width: 800px )
    .news
        .news-card
            width: 100%