@import "colors.sass"

.why-kornia
    padding: 90px 0
    .container
        text-align: center
    .blue-line
        padding: 15px 0
    .descr
        color: $gray300
        max-width: 550px
        margin: 0 auto
        font-weight: 400
        line-height: 1.4
    .items-container
        display: flex
        max-width: 800px
        margin: 60px auto 0 auto
    .item
        width: 150px
        text-align: center
        margin: 0 25px
    .item-descr
        margin-top: 15px
        font-weight: 600

@media only screen and ( max-width: 800px )
    .why-kornia
        padding: 60px 0
        .items-container
            flex-direction: column
            align-items: center
            justify-content: center
        .item
            margin: 45px 0 0 0
        .section-title
            font-size: 36px
        .descr
            font-size: 20px